<h1>AlphaCamp Forum</h1>
<p>
<%= form_tag topics_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>
</p>

<p><%= link_to "發表文章", new_topic_path() , :class => "btn btn-primary"%></p>
<p>
<%= link_to '照標題排列 /', topics_path( :order => "title") %>
<%= link_to '照文章類別排列', topics_path( :order => "category") %>
<%= link_to '照回覆數排列 /', topics_path( :order => "comment_count") %>
<%= link_to '照回覆時間排列 /', topics_path( :order => "last_comment_time") %>
<%= link_to '照瀏覽數排列', topics_path( :order => "view") %>
</p>
<table class = "table">
  <tr>
      <td><h4>主題</h4></td>
      <td><h4>作者</h4></td>
      <td><h4>類別</h4></td>         
      <td><h4>回應數</h4></td>
      <td><h4>最新回應</h4></td>
      <td><h4>瀏覽數</h4></td>
      <td></td>
      <td></td>


  </tr>
  <% @topics.each do |t| %>
    <tr>
      <td><h4><%= link_to t.title, topic_path(t , :view =>"+1" )%></h4></td>
      <td>
        <h5><%= link_to t.user.try(:user_name), user_profile_path(t.user.id) %></h5>
        <h5><%= t.created_at %></h5>
      </td>
      <td>
        <% t.categories.each do |c| %>
          <h5><%= c.name %></h5>
        <% end %>
      </td>
      <td><%= t.comment_count %></td>
      <td><%= t.comments.last.try(:created_at) %></td>
      <td><%= t.view%></td>
      <td><%= link_to "Edit", edit_topic_path(t) , :class => "btn btn-default"%>
      <%= link_to "Delete", topic_path(t) ,:method => :delete, :class => "btn btn-danger"%></td>
    </tr>
  <% end %>

</table>
<%= paginate @topics %>






