<h2><%= @topic.title %></h2>

<p><h4>作者: <%= @topic.user.try(:user_name) %></h4> </p>

<h4>分類:</h4>

<ul>
  <% @topic.categories.each do |c| %>
    <h4><li><%= c.name %></li></h4>
  <% end %>
</ul>

<p><h3>內容:</h3></p>

<div><%= @topic.content %></div>

<% if @topic.logo.exists? %>
  <%=  image_tag(@topic.logo.url(:medium))%>
<% else %>
  None
<% end %>

<div><h3>回應(<%=@topic.comments.size%>):</h3></div>

<% @comments.each do |c| %>
  <h5><%= c.user.try(:user_name) %>:</h5>  
  <% if params[:comment_id] == c.id.to_s %>
    <%= form_for @comment, :url => topic_comment_path(@topic, @comment) do |f| %>
      <div class = "form-group">
      <!--<%= f.label :content, "修改" %> -->
      <%= f.text_area :content ,:class => "form-control"%>
      </div>
      <%= f.submit "儲存", :class => "btn btn-primary"%>
    <% end %>
  <% else %>
    <p><%=  simple_format(c.content) %></p>
    <p>於:<%= c.updated_at %></p>
    <%if c.user == current_user %>
      <%= link_to "修改", topic_path(:comment_id => c ), :class => "btn btn-default" %> 
      <%= link_to "刪除", topic_comment_path( @topic,c ), :method => :delete, :class => "btn btn-danger" %> 
    <%end%>
  <% end %>
  <p>--------------------</p>
<% end %>

<% unless params[:comment_id] %>
  <%= form_for @comment, :url => topic_comments_path(@topic) do |f| %>
    <div class = "form-group">
    <%= f.label :content, "回覆.." %>
    <%= f.text_area :content ,:class => "form-control"%>
    </div>
    <%= f.submit "送出" ,:class => "btn btn-primary"%>
  <% end %>   
<% end %>

<p><%= link_to "Back To Index", topics_path %></p>







