

<%= form_for ([:admin, setup_topic(@topic)])  do |f| %>

<div class="form-group">
  <%= f.label :title, "Title" %>
  <%= f.text_field :title , :class => "form-control" %>
</div>

<!--
<div class="form-group">
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select(:category_id, Category.all, :id, :name, :include_blank =>"Please Select") %>
</div>
-->

<div class="form-group">
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>





<div class="form-group">
  <%= f.label :content, "Content" %>
  <%= f.text_area :content , :class => "form-control"%>
</div>


  <%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>