<h1>Profile</h1>



<h2>個人資料:</h2>
<%= link_to "修改個人資料", user_profile_path(@user, :user_profile => @user.profile ) , :class => "btn btn-default"%>

<% if params[:user_profile]%>
  
  <%= form_for @profile, :url => user_profile_path(:user_profile => @user.profile), :method => :patch do |f| %>
    <div class="form-group">
      <%= f.label :first_name, "First_Name" %>
      <%= f.text_field :first_name , :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, "Last_Name" %>
      <%= f.text_field :last_name , :class => "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :about_me, "About Me" %>
      <%= f.text_area :about_me , :class => "form-control"%>
    </div>

  <%= f.submit "Save", :class => "btn btn-primary" %>
  <%end%>
<%else%>
  <ul>
    <p>
    <li>User ID: <%= @user.try(:user_name)%> </li>
    <li>Email: <%= @user.try(:email)%> </li>
    </p>

    <li>First_name: <%= @profile.try(:first_name)%> </li>
    <li>Last_name: <%= @profile.try(:last_name)%> </li>
    <li>Birth: <%= @profile.try(:birth) %></li>
    <li>Sex: <%= @profile.try(:sex) %></li>
    <li>About Me: <%= @profile.try(:about_me)%> </li>
    </ul>
<%end%>



<h2>我的文章:</h2>
<% @user.topics.each do |t|%>
  <% if t.draft? %>
    <ul>
    <li><%= link_to t.title, edit_topic_path(t) %> - (草稿)</li>
    </ul>
  <%else%>
    <ul>
    <li><%= link_to t.title, topic_path(t) %> - (已發佈)</li>
    </ul>
  <% end %>
<% end %>



<h2>發表過的回覆:</h2>
<ul>
  <% @user.comments.each do |c|%>
    <li>曾經於文章: "<%= link_to c.topic.try(:title), topic_path(c.topic) %>"</li>
    <p>回應:<%= "  " + c.content %></p>
  <% end %>
</ul>


<h2>收藏的文章:</h2>
<ul>
  <% @user.collected_topics.each do |t| %>
    <li><%= link_to t.title , topic_path(t)%></li>
  <%end%>
</ul>
<p><%= link_to "Back To Index", topics_path %></p>

