<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Event application" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="500" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
-->

<div class="container">
  <div class="row">
    <div class="col-md-12">

    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert].present? %>

      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

      <% if current_user %>

          Hi, <%=current_user.user_name %>

          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
      <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
      <% end %>
      <% if current_user %>
        <%= link_to '個人專區', user_profile_path(current_user) %>

        <% if current_user.role == "admin" %>
          您是本站管理者!!
        <% end %>
      <% end %>
      <%= link_to "用Facebook登入", user_omniauth_authorize_path(:facebook) %>

      <%= yield %>
      <p>

      <% if current_user %>
        <% if current_user.admin? %>
          <%= link_to "後台管理 / ", admin_topics_path %>
        <% end %>
        <%= link_to "本站統計數據", statistic_topics_path %></p>
        <li>
          <%= link_to "JQuery exercise", jquery_path %>
        </li>
        <li>
          <%= link_to "Ajax exercise", ajax_path %>
        </li>
      <% end %>
    </div>
  </div>

</body>
</html>
